{% extends 'index.html' %}

{% block title %} Dashboard {% endblock title %}

{% block main-content %}
    <h3 class="mt-4 mb-4">Profile</h3>
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Update Type</th>
                <th scope="col">Archived By</th>
                <th scope="col">View</th>
                <th scope="col">Save</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>
                    <select class="custom-select">
                        <option selected>Australia</option>
                        <option value="1">China</option>
                        <option value="2">India</option>
                        <option value="3">USA</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select">
                        <option selected>Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Quaterly</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select">
                        <option selected>Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Quaterly</option>
                    </select>
                </td>
                <td>View</td>
                <td>Save</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>
                    <select class="custom-select">
                        <option selected>Australia</option>
                        <option value="1">China</option>
                        <option value="2">India</option>
                        <option value="3">USA</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select">
                        <option selected>Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Quaterly</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select">
                        <option selected>Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Quaterly</option>
                    </select>
                </td>
                <td>View</td>
                <td>Save</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>
                    <select class="custom-select">
                        <option selected>Australia</option>
                        <option value="1">China</option>
                        <option value="2">India</option>
                        <option value="3">USA</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select">
                        <option selected>Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Quaterly</option>
                    </select>
                </td>
                <td>
                    <select class="custom-select">
                        <option selected>Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option>
                        <option value="3">Quaterly</option>
                    </select>
                </td>
                <td>View</td>
                <td>Save</td>
              </tr>
            </tbody>
          </table>
{% endblock main-content %}